.form-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__error-type {
    display: flex;
    color: red;
    margin: 10px 0;
    font-size: 17px;
    font-weight: 600;
    justify-content: center;
    width: 500px;
    text-align: center;
  }
  &__change {
    display: flex;
    flex-direction: column;
    input {
      display: none;
    }
    &__label {
      display: flex;
      padding: 10px;
      background: #202934;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 10px;
      transition: background-color 200ms ease-in-out;
      font-size: 16px;
      color: white;
      font-weight: 300;
      width: 400px;
      align-self: center;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin-bottom: 5px;
      &__icon {
        margin-left: 5px;
      }
      &:hover {
        background-color: lighten(#202934, 30);
        cursor: pointer;
      }
    }
  }
  &__photo {
    border-radius: 230px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    align-self: center;
    margin-bottom: 10px;
    position: relative;
    &__img {
      display: flex;
      border-radius: 250px;
      width: 250px;
      height: 250px;
      object-fit: cover;
      transition: 300ms;
    }
    &__delete {
      background: rgba(192, 192, 192, 0.5);
      border-radius: 50px;
      box-shadow: 0 0 4 rgb(131, 131, 131);
      padding: 6px;
      position: absolute;
      right: 5px;
      bottom: 20px;
      &__icon {
        font-size: 35px;
        transition: transform 200ms ease-in-out;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }
  &__send:nth-child(1) {
    margin-top: 10px;
  }
  &__send {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #202934;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    transition: background-color 200ms ease-in-out;
    font-size: 16px;
    color: white;
    font-weight: 300;
    width: 400px;
    align-items: center;
    &:hover {
      background-color: lighten(#202934, 30);
      cursor: pointer;
    }
  }
}

// --------------------------- MEDIA QUERIES IPAD 500PX --------------------------------------//
@media all AND (max-width: 500px) {
  .form-image__change__label {
    width: 100%;
  }
  .form-image__send {
    width: 100%;
  }
}
