// Formulaire de modification
.form-modify-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form-modify{
    display: flex;
    flex-direction: column;
    &__element{
        display: flex;
        flex-direction: column;
    }
    &__element label{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 3px;
    }
    &__element input{
        border-radius: 5px;
        background: #F9F9F9;
        border: 1px solid #ccd0d5;
        padding: 10px;
        line-height: 16px;
        width: 220px;
        font-size: 19px;
        
    }
    &__button{
        padding: 10px;
        background: white;
        border: none;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 10px;
        transition: background-color 200ms ease-in-out;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        font-weight: 300;
        margin-top: 30px;
        &:hover{
            background-color: #a5a5a5;
            cursor: pointer;
        }
    }
}

.form-modify__element__biography{
    min-height: 150px;
    resize: vertical;
    padding: 10px;
    font-size: 19px;
}

.error-input{
    display: flex;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-weight: 600;
    font-size: 13px;
}

// --------------------------- MEDIA QUERIES IPAD 620PX --------------------------------------//
@media all AND (max-width: 720px){
    .form-modify-container{
        flex-direction: column;
        margin: 0;
    }
    .form-modify{
        &__element{
            margin-top: 25px;
        }
        &__element input{
            width: 100%;
        }
    }
  }
