body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  word-break: break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

body {
  background-color: #f0f2f5;
}

:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.admin {
  background-color: #202934;
}

// --------------------------- MEDIA QUERIES IPAD--------------------------------------//
@media all AND (max-width: 920px) {
  h1 {
    font-size: 25px;
  }
}
