//NEW COMMENT

.card-new-comment{
    display: flex;
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        background: rgb(151, 151, 151);
        top: 5px;
    }
    &__photo{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 100px;
        margin: 15px;
    } 
    &__content{
        width: 85%;
        height: 30px;
        align-self: center;
        border: none;
        border-radius: 50px;
        padding-left: 10px;
        &:focus-visible{
            outline: none;
        }
    }
}